<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Agile Engine test task" verbose="1" >
    <test name="Wiki Skyscrapers table tests" >
        <classes>
            <class name="agileengine.testtask.tests.SkyscrapersTableWikiTest" />
        </classes>
    </test>

</suite>
